<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hylaa Config</title>
    <script src="../static/js/jquery-1.7.1.min.js" th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <script src="../static/js/jquery.mousewheel-min.js" th:src="@{/js/jquery.mousewheel-min.js}"></script>
    <script src="../static/js/jquery.terminal.js" th:src="@{/js/jquery.terminal.js}"></script>
    <link href="../static/css/jquery.terminal.css" th:href="@{/css/jquery.terminal.css}" rel="stylesheet"/>
    <script>
        jQuery(document).ready(function ($) {
            $('body').terminal("TerminalService", {
                greetings: "Hylaa config hello",
                onBlur: function () {
                    // the height of the body is only 2 lines initialy
                    return false;
                }
            });
        });
    </script>
</head>
<body>
</body>
</html>